@mixin blocked {
  background: $background-paper;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.wrapper {
  height: calc(80dvh - 24px - 20px * 6);
  background: $background-main;
  width: 80%;
  display: flex;
  flex: 1 1;
  flex-basis: 80%;
  gap: 10px;
  margin: -20px;
  border-radius: 20px;
  padding: 20px 40px 20px 20px;
}

.header {
  display: flex;
  gap: 4px;
}

.absolute {
  width: 100%;
}
.overflow {
  overflow: auto;
  position: relative;
}

.months {
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.headerMonths {
  display: flex;
  gap: 12px;
  padding: 0 4px;
}

.monthsAndDays {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  border-radius: 20px;
}
.days {
  max-width: 55px;
  width: 55px;
  min-width: 55px;
}

.fi {
  @include blocked;
  padding: 12px;
  max-width: 310px !important;
  width: 310px !important;
  min-width: 310px !important;
}

.block {
  @include blocked;
  max-height: 55px;
  height: 55px;
  min-height: 55px;
  max-width: 55px;
  width: 55px;
  min-width: 55px;
  aspect-ratio: 1;
  text-align: center;
  justify-content: center;
}

.itog {
  @include blocked;
  padding: 0 12px;
  max-height: 55px;
  height: 55px;
  min-height: 55px;
  min-width: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.headerBlock {
  background: mix($text-primary, $background-main, 10%);
  margin-bottom: 10px;
}

.mainHeader {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.markButton {
  min-width: 100%;
  min-height: 100%;
  border-radius: 20px;
}

.selected {
  border: 2px solid $primary-main;
}

.info {
  flex-basis: 20%;
  padding-left: 40px;
  margin: -20px;
}

