.base {
  position: relative;
  width: 80dvw;
  height: 80dvh;
  background: $background-paper;
  padding: 20px;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px black;
}

.overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(#000, 0.5);
}

.close {
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
  transition: filter 0.2s;

  &:hover {
    filter: drop-shadow(0 0 5px white);
  }
}
