.base {
  padding: ($header-height + 68px) 42px 0;
}

.actionSlot {
  padding: 12px 0 12px $header-icon-width;
}
.ignoreHeader {
  padding-top: $header-height;
}

.panelBase {
  padding: 12px;
}
.isPanel {
  background-color: $background-paper;
}