.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.form {
  margin-top: 40px;
    display: flex;
    flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.formContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.flex {
  display: flex;
  gap: 10px;
  align-items: center;
}

.formBlockWithInputs {
  & input {
    width: calc(100% - 20px * 2);
  }
}