$background-main: #051b35;
$background-paper: #0C3057;

$primary-main: #f79e2d;
$primary-paper: #6a362c;

$text-primary: #fffcfa;
$text-helper: #928882;

$status-warning: #E53232;
$status-caution: #E56832;
$status-info: #326FE5;
$status-success: #04B000;
