.wrapper {
  display: flex;
  flex-direction: column;
}

.form {
  margin-top: 10px;
    display: flex;
    flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}
.formContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.flex {
  display: flex;
  gap: 10px;
  align-items: center;
}

.formBlockWithInputs {
  & input {
    width: calc(100% - 20px * 2);
  }
}
.miniForm {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 24px;

  & input {
    width: 120px;
  }
}