.wrapper {
  height: calc(80dvh - 24px - 20px * 4);
  width: 80%;
  display: flex;
  flex: 1 1;
  flex-basis: 80%;
}

.table {
  overflow: auto;
  display: block;
  width: 100%;
  height: 100%;
  border-collapse: collapse;

  thead tr th {
    background: mix($text-helper, $text-primary, 30%);
  }
  thead, tbody {
    width: 100%;
  }

  th, td {
    background: $text-primary;
    color: $background-main;
    border: 1px solid black;
    padding: 4px;
  }
}

.day {
  min-width: 16px;
  min-height: 48px;
}

.fullsize {
  width: 100%;
}
.add {
  width: 100%;
  border-radius: 0 !important;
}
.addWrapper {
  padding: 0 !important;
}

.info {
  flex-basis: 20%;
}