.base {
  padding: 20px;
  height: calc(80dvh - 24px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons {
  display: flex;
  align-items: flex-end;
    gap: 20px;
}

.editButton {
  height: 40px;
}