.base {
  background: $background-main;
  padding: 16px 14px;
  border-radius: 20px;
  height: max-content;
}

.header div {
  display: flex;
    align-items: center;
    justify-content: space-between;
}

.block {
  display: grid;

  & div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.classes {
  display: flex;
  gap: 8px
}

.deleteButton {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: right;
  right: 0;
}

.content {
  margin-top: 4px;
}