.base {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main {
  padding: 25px 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background-paper;
}