.base {
  padding: 12px;
  height: 80dvh;
}

.tabs {
  margin-bottom: 10px;
}

.announcements {
  display: flex;
  flex-direction: column;
  padding: 20px 0 0;
  height: calc(100% - 60px  - 10px - 12px * 2);
  gap: 20px;
  overflow-y: auto;
}