.flexStart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bigText {
  width: 100%;
  word-break: break-all;
  white-space: normal;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  overflow: hidden;
}