.body {
  padding-top: 20px;
  display: block;
  box-sizing: content-box;
  max-height: 100%;
  overflow: auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}
.homework {
  margin-top: 10px;
  width: 100%;
  word-break: break-all;
  white-space: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.flexFlexov {
    display: flex;
    justify-content: space-between;

}
.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.textarea {
  width: calc(100% - 20px - 10px);
}